body {
    background-color: #FC5E55;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    color: white;

}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: palevioletred;
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: peachpuff;
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rebeccapurple;
    min-height: 300px;
    width: 30%;
}

.herobox1 {
    flex: 2;
}

.herobox2 {
    flex: 1;
}
