html {
    height: 100%;
}

body {
    background-image: linear-gradient(#FC5E55, #FA4083);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;

}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(img/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom; /* add to not have bottom of img cut off */
    min-height: 250px;
    width: 30%;
}

.card2 {
    background-image: url(img/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom; /* add to not have bottom of img cut off */
    min-height: 250px;
    width: 30%;
}

.card3 {
    background-image: url(img/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom; /* add to not have bottom of img cut off */
    min-height: 250px;
    width: 30%;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem; /* 52px x 0.0625 = rem */
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.5rem;
}

/* px instead of rem should use to not change the spacing despite the change in font sizes; therefore, use px for spacing and absolute font sizes and relative size */ 
h2 {
    font-size: 2rem; /* 52px x 0.0625 = rem */
    font-family: 'Playfair Display', serif;
    margin-top: 20px;   
    text-align: center;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin: 10px 30px 20px 30px;
}

.cards i {
    font-size: 80px;
    padding-top: 20px;
}

.cards a {
    color: white;
    text-decoration: none;
}